html, head, body, p, a, h1, h2, h3, h4, h5, h6, div, img, ul, li, ol {
	padding:0;
	margin:0;
	outline:none;
	border:none;
}
img {
	max-width:100%;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
ul, li {
	list-style:none;
}
.m_top02 {
	margin-top:2px;
}
.m_top05 {
	margin-top:5px;
}
.m_top08 {
	margin-top:8px;
}
.m_top10 {
	margin-top:10px;
}
.m_top20 {
	margin-top:20px;
}
.m_top25 {
	margin-top:25px;
}
.m_top30 {
	margin-top:30px;
}
.m_right03 {
	margin-right:3px;
}
.m_right05 {
	margin-right:5px;
}
.m_right08 {
	margin-right:8px;
}
.m_right10 {
	margin-right:10px;
}
.m_right15 {
	margin-right:15px;
}
.m_right20 {
	margin-right:20px;
}
.m_right30 {
	margin-right:30px;
}
.m_right50 {
	margin-right:50px;
}
.m_left05 {
	margin-left:5px;
}
.m_left10 {
	margin-left:10px;
}
.m_left20 {
	margin-left:20px;
}
.m_left30 {
	margin-left:30px;
}
.m_left40 {
	margin-left:40px;
}
.m_bot05 {
	margin-bottom:5px;
}
.m_bot08 {
	margin-bottom:8px;
}
.m_bot10 {
	margin-bottom:10px;
}
.m_bot15 {
	margin-bottom:15px;
}
.m_bot20 {
	margin-bottom:20px;
}
.m_bot25 {
	margin-bottom:25px;
}
.m_bot30 {
	margin-bottom:30px;
}
.p_top02 {
	padding-top:2px;
}
.p_top05 {
	padding-top:5px;
}
.p_top10 {
	padding-top:10px;
}
.p_top15 {
	padding-top:15px;
}
.p_top20 {
	padding-top:20px;
}
.p_top25 {
	padding-top:25px;
}
.p_top45 {
	padding-top:45px;
}
.p_left05 {
	padding-left:5px;
}
.p_left10 {
	padding-left:10px;
}
.p_left15 {
	padding-left:15px;
}
.p_left20 {
	padding-left:20px;
}
.p_left30 {
	padding-left:30px;
}
.p_left35 {
	padding-left:35px;
}
.p_left70 {
	padding-left:70px;
}
.p_left110 {
	padding-left:110px;
}
.p_bot05 {
	padding-bottom:5px;
}
.p_bot08 {
	padding-bottom:8px;
}
.p_bot10 {
	padding-bottom:10px;
}
.p_bot15 {
	padding-bottom:15px;
}
.p_bot20 {
	padding-bottom:20px;
}
.p_bot30 {
	padding-bottom:30px;
}
.p_bot50 {
	padding-bottom:50px;
}
.p_rig05 {
	padding-right:5px;
}
.p_rig10 {
	padding-right:10px;
}
.p_rig15 {
	padding-right:15px;
}
.p_rig20 {
	padding-right:20px;
}
.p_rig25 {
	padding-right:25px;
}
.p_rig30 {
	padding-right:30px;
}
body {
	background:#ededed;
	font-family: 'open_sansregular';
	font-size:13px;
	color:#1c1c1e;
}
.left {
	float:left;
}
.right {
	float:right;
}
h1 {
	font-family: 'open_sansbold';
}
h2 {
	font-family: 'open_sansbold';
}
h3 {
	font-family: 'open_sansbold';
}
header {
	background:#fff;
	padding:10px 0;
}
.search_s {
	position:relative;
	margin-top:45px;
}
.submit {
	position:absolute;
	top:0;
	right:0;
	background:#95c809;
	width:auto;
	height:auto;
	border:none;
	font-family: 'open_sansbold';
	font-size:14px;
	color:#ffffff;
	text-transform:uppercase;
	text-shadow: 0px 1px 1px rgba(149, 200, 9, 0.75);
	outline:none;
	padding:11px 20px;
}
.comm_input {
	height:38px;
	padding:6px 12px;
	border:1px solid #e4e2e2;
	border-radius:20px;
	font-size:13px;
	color:#a6a6ac;
}
.comm_input:focus {
	border-color:#95c809;
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(149, 200, 9, .6);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(149, 200, 9, .6);
}
.user_login_part {
	margin-top:45px;
}
.user_pic {
	text-align:right;
	padding-right:10px;
	display:inline-block;
	vertical-align:top;
}
.user_pic img {
	height:35px;
	width:35px;
	border-radius:100px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
}
.user_name_sec {
	text-align:left;
	display:inline-block;
}
.user_name_sec h3 {
	font-family: 'open_sanssemibold';
	font-size:16px;
}
nav {
	background:#0b1c47 url(../images/nav_bg.jpg) repeat-x top center;
	border-bottom:6px solid #95c809;
}
.banner_n {
	background:url(../images/banner_bg1.jpg) no-repeat top left;
}
.banner {
	background:url(../images/banner_bg.jpg) no-repeat top left;
}
.banner_new_bg {
	background:url(../images/banner_n_bg.png) repeat-x top left;
}
.banner_new_bg2 {
	background:#fff url(../images/banner_n_bg2.png) repeat-x top left;
}
.inner_banner {
	margin:68px 0;
	background:#fff;
	padding:15px;
	z-index:99;
	position:relative;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(24, 27, 25, 0.32);
	-moz-box-shadow:    0px 1px 5px 0px rgba(24, 27, 25, 0.32);
	box-shadow:         0px 1px 5px 0px rgba(24, 27, 25, 0.32);
}
.heading_s {
	text-align:center;
}
.heading_s span {
	font-family: 'open_sansbold';
	font-size:22px;
	text-transform:uppercase;
	vertical-align:middle;
}
.banner_c {
	margin:-15px 0 20px;
}
.banner_c_search {
	margin:30px 0 20px;
}
.right_txt {
	text-align:right;
}
.listing_ul li {
	font-size:15px;
	font-family: 'open_sanssemibold';
	margin-bottom:30px;
	width:100%;
	float:left;
}
.listing_ul li span {
	font-size:13px;
}
.listing_ul li span.bold_txt {
	font-size:15px;
	font-family: 'open_sansbold';
}
.listing_ul li ul li {
	float:right;
	text-align:right;
	width:auto;
	padding-left:5px;
	vertical-align:middle;
	line-height:32px;
	margin:0;
}
.f_nav {
	z-index: 9999;
	position: fixed;
	top: 0;
	width: 100%;
}
.listing_ul_r li {
	font-size:15px;
	font-family: 'open_sanssemibold';
	margin-bottom:25px;
	width:100%;
	float:left;
}
.listing_ul_r li span {
	font-size:13px;
}
.listing_ul_r li span.bold_txt {
	font-size:15px;
	font-family: 'open_sansbold';
}
.listing_ul_r li ul li {
	float:left;
	text-align:right;
	width:auto;
	padding-right:5px;
	vertical-align:middle;
	line-height:32px;
	margin:0;
}
.center_img {
	text-align:center;
}
.bottom {
	background:#95c809;
	padding:10px 0;
}
.bottom_ul {
	text-align:center;
	padding: 0 15px;
}
.bottom_ul li {
	display:inline-block;
	padding:0 5px;
}
.bottom_ul li span {
	font-family: 'open_sanssemibold';
	color:#fff;
}
.newsletter {
	position:relative;
	width:320px;
	margin:0 20px;
}
.newsletter .newslltr_input {
	background:#fff;
	height:35px;
	width:100%;
	border:none;
	padding:3px 10px;
	color:#b2acac;
	font-family: 'open_sanssemibold';
	margin:0;
	border-radius:0;
	display:inline-block;
}
.newsletter .submit_news {
	position:absolute;
	top:0;
	right:0;
	border:none;
	font-size:0px;
	background:#00115e url(../images/email_icon.png) no-repeat scroll 50% 50%;
	width:47px;
	height:35px;
}
footer {
	background:#00115e;
	padding:25px 0;
	color:#ffffff;
}
footer h3 {
	margin-bottom:20px;
}
footer ul li {
	line-height:24px;
}
footer ul li a {
	color:#fff;
}
footer p {
	line-height:22px;
}
.copyright {
	background:#010e46;
	padding:10px 0;
	color:#ffffff;
	font-size:12px;
}
.copyright_ul li {
	display:inline-block;
	padding-left:3px;
	font-size:12px;
}
.copyright_ul li a {
	color:#fff;
}
.copyright_ul li a:hover {
	color:#95c809;
}
.facebook {
	background:url(../images/facebook.png) no-repeat top center;
	border:1px solid transparent;
	border-radius:100px;
}
.facebook:hover {
	background:url(../images/facebook_hover.png) no-repeat top center;
	border:1px solid #fff;
}
.twitter {
	background:url(../images/twitter.png) no-repeat top center;
	border:1px solid transparent;
	border-radius:100px;
}
.twitter:hover {
	background:url(../images/twitter_hover.png) no-repeat top center;
	border:1px solid #fff;
}
.youtube {
	background:url(../images/youtube.png) no-repeat top center;
	border:1px solid transparent;
	border-radius:100px;
}
.youtube:hover {
	background:url(../images/youtube_hover.png) no-repeat top center;
	border:1px solid #fff;
}
.linkedin {
	background:url(../images/linkedin.png) no-repeat top center;
	border:1px solid transparent;
	border-radius:100px;
}
.linkedin:hover {
	background:url(../images/linkedin_hover.png) no-repeat top center;
	border:1px solid #fff;
}
.google_plus {
	background:url(../images/google_plus.png) no-repeat top center;
	border:1px solid transparent;
	border-radius:100px;
}
.google_plus:hover {
	background:url(../images/google_plus_hover.png) no-repeat top center;
	border:1px solid #fff;
}
.icons_h {
	width:31px;
	height:31px;
	font-size:0px;
	display:inline-block;
	border-radius: 50%;
	vertical-align: middle;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.icons_h:hover {
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
}
.main_cont {
	padding:20px 0;
}
.profile_left {
	padding:15px;
}
.profile_right {
	padding:0;
}
.profile_right h1 {
	padding:15px;
	margin:0;
}
.right_p_bg {
	background:#f5f8f9;
	padding:0;
	border-top:1px solid #e4e2e2;
	border-bottom:1px solid #e4e2e2;
	-webkit-box-shadow: inset 4px 0px 10px -1px rgba(220, 225, 227, 0.75);
	-moz-box-shadow:    inset 4px 0px 10px -1px rgba(220, 225, 227, 0.75);
	box-shadow:         inset 4px 0px 10px -1px rgba(220, 225, 227, 0.75);
}
.right_p_bg ul li {
	padding:10px 15px;
	border-bottom:1px solid #e4e2e2;
}
.right_p_bg ul li:last-child {
	border-bottom:none;
}
.right_p_bg ul li:hover {
	cursor:pointer;
	-webkit-box-shadow: inset 0px 6px 10px 0px rgba(220, 225, 227, 0.75);
	-moz-box-shadow: inset 0px 6px 10px 0px rgba(220, 225, 227, 0.75);
	box-shadow: inset 0px 6px 10px 0px rgba(220, 225, 227, 0.75);
}
.profile_right h2 {
	padding:15px;
	margin:0;
}
.right_p_bg2 {
	background:#f5f8f9;
	padding:20px 15px;
	border-top:1px solid #e4e2e2;
	border-bottom:1px solid #e4e2e2;
	-webkit-box-shadow: inset 4px 0px 10px -1px rgba(220, 225, 227, 0.75);
	-moz-box-shadow:    inset 4px 0px 10px -1px rgba(220, 225, 227, 0.75);
	box-shadow:         inset 4px 0px 10px -1px rgba(220, 225, 227, 0.75);
	text-align:center;
}
.right_p_bg ul li {
	padding:10px 15px;
	border-bottom:1px solid #e4e2e2;
	width: 100%;
	line-height:16px;
	vertical-align: middle;
	display: inline-block;
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
}
.semibold_txt {
	font-family: 'open_sanssemibold';
}
.semibold_txt span {
	font-family: 'open_sansbold';
	text-transform:uppercase;
}
.buttn {
	font-family: 'open_sansbold';
	border:1px solid #eee9e9;
	margin:20px 0 0;
	display:inline-block;
	padding:10px 0;
	background:#ffffff;
	width:180px;
	text-align:center;
}
.buttn1 {
	font-family: 'open_sansbold';
	border:1px solid #eee9e9;
	display:inline-block;
	padding:10px 0;
	background:#ffffff;
	width:180px;
	text-align:center;
}
.buttn2 {
	font-family: 'open_sansbold';
	border:1px solid #eee9e9;
	margin:0;
	display:inline-block;
	padding:10px 0;
	background:#ffffff;
	width:100%;
	text-align:center;
}
.buttn3 {
	font-family: 'open_sansbold';
	border:1px solid #eee9e9;
	display:inline-block;
	padding:10px 0;
	background:#ffffff;
	width:180px;
	text-align:center;
}
.buttn_left {
	font-family: 'open_sansbold';
	border:1px solid #eee9e9;
	margin:20px 0 0;
	display:inline-block;
	padding:10px 0;
	background:#ffffff;
	width:100%;
	text-align:center;
}
.right_p_bg3 {
	background:#f5f8f9;
	padding:20px 15px;
	border-top:1px solid #e4e2e2;
	border-bottom:none;
	-webkit-box-shadow: inset 4px 0px 10px -1px rgba(220, 225, 227, 0.75);
	-moz-box-shadow:    inset 4px 0px 10px -1px rgba(220, 225, 227, 0.75);
	box-shadow:         inset 4px 0px 10px -1px rgba(220, 225, 227, 0.75);
}
.right_p_bg3 ul li {
	padding:0;
	float:left;
	width:80%;
}
.right_p_bg3 ul li:first-child {
	width:20%;
}
.right_p_bg3 ul li img {
	border-radius: 50%;
	width:40px;
	height:40px;
}
.gap {
	height:94px;
}
.gap2 {
	height:65px;
}
.gap3 {
	height:55px;
}
.right_p_bg2 ul li {
	display:inline-block;
}
.bg_colr {
	background:#fff;
	border:1px solid #e3e1e1;
	position:relative;
}
.seperate_line {
	position:absolute;
	border-right:1px solid #e3e1e1;
	left:75%;
	height:100%;
	width: 1px;
}
.small_txt {
	font-size:12px;
}
.delete_link {
	color:#00125f
}
.rank_secs {
	padding:48px 0;
	position:relative;
}
.rank_secs h1 {
	/*border-bottom:1px solid #ddd;*/
	padding-bottom:5px;
}
.rank_secs h1 span {
	font-size:12px;
	font-family: 'open_sansregular';
}
.rank_details {
	position:absolute;
	left:-27px;
	margin-top:20px;
}
.rank_details li {
	padding-bottom:10px;
	background:url(../images/small_bullet.png) no-repeat scroll 6px 16px;
	padding-left:35px;
}
.rank_details li.selected {
	background:url(../images/big_bullet.png) no-repeat scroll 0 10px;
	font-family: 'open_sansbold';
}
.rank_details li span {
	line-height:40px;
	vertical-align:middle;
}
.bold_txt {
	font-family: 'open_sansbold';
}
.edit_txt {
	/*border-bottom:1px solid #e6e8e9;*/
	padding-bottom:5px;
	margin-top:20px;
	margin-bottom:10px;
}
.edit_txt i {
	color:#dbd8d8;
	font-size:16px;
}
.edit_txt a:hover i {
	color:#95c809;
}
.personaldetails_list span {
	font-family: 'open_sansbold';
}
.personaldetails_list li {
	padding-bottom:10px;
}
.personaldetails_list i {
	color:#dbd8d8;
	font-size:16px;
/*	width:30px;*/
}
.border_bot {
	border-bottom:1px solid #e6e8e9;
	padding-bottom:10px;
	margin:10px 0;
}
.statis_ul li {
	margin-bottom:3px;
	float:left;
	width:100%;
}
.statis_ul li i {
	background:#f5f8f9;
	padding:5px 0;
	width:5%;
	margin-right:2%;
	text-align:center;
	float:left;
}
.statis_ul li span {
	background:#f5f8f9;
	padding:5px;
	float:left;
	width:93%;
}
.disabled_t {
	opacity: 0.3;
}
.achievements_secs p {
	margin-bottom:10px;
}
.achievements_secs p img {
	margin-right:5px;
}
.forum_post_list {
	background:#f5f8f9;
	padding:15px;
}
.tyml_txt {
	font-size:11px;
	color:#8c8c8c;
}
.forum_post_list {
	margin-bottom:5px;
}
.forum_post_list ul li {
	float:left;
	width:90%;
}
.forum_post_list ul li img {
	border:3px solid #fff;
}
.forum_post_list ul li:first-child {
	margin-right:2%;
	width:8%;
}
.forum_post_list ul li p {
	padding-bottom:5px;
}
.con_banner {
	background:url(../images/banner_bg.jpg) no-repeat top left;
}
.achievements_ul li {
	background:url(../images/achievemnt_img.png) no-repeat scroll 0 0;
	min-height:35px;
	padding-left:40px;
	padding-top:7px;
	margin-bottom:10px;
}
.images_secs {
	margin-top:0;
	position:relative;
	width:100%;
	display:inline-block;
	padding:0 205px;
}
.images_secs img {
	position:absolute;
	top:20px;
	z-index:9;
	left:35px;
}
.inner_con_banner {
	margin:345px auto 60px;
	background:#fff;
	padding:15px;
	z-index:99;
	position:relative;
	min-height:333px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(24, 27, 25, 0.32);
	-moz-box-shadow: 0px 1px 5px 0px rgba(24, 27, 25, 0.32);
	box-shadow: 0px 1px 5px 0px rgba(24, 27, 25, 0.32);
	width:100%;
}
.main_cons {
	margin-bottom:30px;
}
.green_border_txt {
	border-bottom:3px solid #8ec308;
	padding-bottom:7px;
	margin-top:20px;
	margin-bottom:10px;
	position:relative;
	padding-right:20px;
}
.green_border_txt a {
	position:absolute;
	right:0;
	bottom:4px;
}
.green_border_txt i {
	color:#dad7d7;
	font-size:20px;
}
.green_border_txt a:hover i {
	color:#8ec308;
}
.blue_s {
	background:#f5f8f9;
	margin:0 0 5px 0;
}
.blue_s ul li.hdng_typ {
	background:url(../images/aa.png) no-repeat top left;
	height:78px;
	text-align:center;
	width:113px;
	line-height:78px;
	vertical-align:middle;
	color:#fff;
	font-family: 'open_sansbold';
	font-size:20px;
	margin-right:20px;
}
.blue_s ul li.hdng_typ2 {
	background:url(../images/gg.png) no-repeat top left;
	height:78px;
	text-align:center;
	width:113px;
	line-height:78px;
	vertical-align:middle;
	color:#fff;
	font-family: 'open_sansbold';
	font-size:20px;
	margin-right:20px;
}
.blue_s ul li.hdng_typ3 {
	background:url(../images/gg2.png) no-repeat top left;
	height:78px;
	text-align:center;
	width:113px;
	line-height:78px;
	vertical-align:middle;
	color:#fff;
	font-family: 'open_sansbold';
	font-size:20px;
	margin-right:20px;
}
.blue_s ul li {
	display:inline-block;
	vertical-align:middle;
}
.blue_s ul li p {
	line-height:20px;
}
.blue_s ul li p.semibold_txt span {
	color:#011460;
}
.pagin_ul {
	margin-top:20px;
}
.pagin_ul li {
	display:inline-block;
	vertical-align:middle;
}
.pagin_ul li p {
	margin-right:15px;
}
.pagin_ul li ul li {
	border:1px solid #eee8e8;
	padding:3px 10px;
	margin:0;
	float:left;
	border-right:none;
	background:#fcfcfc;
}
.pagin_ul li ul li:last-child {
	border-right:1px solid #eee8e8;
}
.pagin_ul li ul li.active, .pagin_ul li ul li:hover {
	background:#011460;
}
.pagin_ul li ul li.active a, .pagin_ul li ul li:hover a {
	color:#fff;
}
span.customSelect {
	font-size:11px;
	background-color: #fff;
	color:#7c7c7c;
	padding:5px 7px;
	border:1px solid #eee8e8;
}
span.customSelect.changed {
	background-color: #f0dea4;
}
.customSelectInner {
	background:url(../images/arrow.png) no-repeat center right;
}
.line_hgt {
	line-height:28px;
}
.risk_secs .risk_ul li {
	display:block;
	font-family: 'open_sanssemibold';
}
.risk_secs .risk_ul li ul li {
	display:inline-block;
	vertical-align:middle;
	width:78%;
	padding:3px 5px;
}
.risk_secs .risk_ul li ul li:first-child {
	width:20%;
}
 .risk_secs .risk_ul li:nth-child(2n) {
background:#f5f8f9;
}
 .risk_secs .risk_ul li ul li:nth-child(2n) {
background:transparent;
}
.right_contntpg {
	border:1px solid #e4e2e2;
}
.right_contntpg h1 {
	font-size:22px;
	background:#95c809 url(../images/right_green_bg.jpg) no-repeat top left;
	height:45px;
	color:#fff;
	line-height:45px;
	vertical-align:middle;
	padding-left:15px;
}
.right_contntpg ul li {
	background:#f5f8f9;
	padding:10px 15px;
	border-top:1px solid #e4e2e2;
	border-bottom:none;
	font-family: 'open_sanssemibold';
	-webkit-box-shadow: inset 4px 0px 10px -1px rgba(220, 225, 227, 0.75);
	-moz-box-shadow:    inset 4px 0px 10px -1px rgba(220, 225, 227, 0.75);
	box-shadow:         inset 4px 0px 10px -1px rgba(220, 225, 227, 0.75);
}
.right_contntpg ul li span {
	color:#011460;
}
.percentg_bar {
	width:100%;
	display:inline-block;
}
.percentg_bar .per_1 {
	width:10%;
	height:13px;
}
.percentg_bar .per_2 {
	width:20%;
	height:13px;
}
.percentg_bar .per_3 {
	width:30%;
	height:13px;
}
.percentg_bar .per_4 {
	width:40%;
	height:13px;
}
.percentg_bar .per_5 {
	width:50%;
	height:13px;
}
.percentg_bar .per_6 {
	width:60%;
	height:13px;
}
.percentg_bar .per_7 {
	width:70%;
	height:13px;
}
.percentg_bar .per_8 {
	width:80%;
	height:13px;
}
.percentg_bar .per_9 {
	width:90%;
	height:13px;
}
.green_bg {
	background:#95c809;
}
.blue_bg {
	background:#011460;
}
.sky_bg {
	background:#00b0f0;
}
.percentg_secs {
	padding:10px 0;
	min-height:100px;
	position: relative;
}
.tooltip_s {
	font-family: 'open_sanssemibold';
	margin-top: 3px;
	padding: 5px 0;
	display: block;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.4;
	opacity:1;
	position: absolute;
	visibility: visible;
	z-index: 1070;
}
.tooltip_s_arrow {
	border-color: transparent;
	border-style: solid;
	height: 0;
	position: absolute;
	width: 0;
}
.tooltip_s .tooltip_s_arrow {
	border-bottom-color: #000;
	border-width: 0 5px 5px;
	left: 50%;
	margin-left: -5px;
	top: 0;
}
.tooltip_s_inner {
	background-color: #000;
	border-radius: 4px;
	color: #fff;
	max-width: 200px;
	padding: 6px 10px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(24, 27, 25, 0.32);
	-moz-box-shadow: 0px 2px 5px 0px rgba(24, 27, 25, 0.32);
	box-shadow: 0px 2px 5px 0px rgba(24, 27, 25, 0.32);
}
.tooltip_s_inner span {
	font-family: 'open_sansbold';
}
.tooltip_s.blue .tooltip_s_inner {
	background:#011460;
}
.tooltip_s.sky .tooltip_s_inner {
	background:#00b0f0;
}
.tooltip_s.green .tooltip_s_inner {
	background:#95c809;
}
.tooltip_s.blue .tooltip_s_arrow {
	border-bottom-color: #011460;
}
.tooltip_s.sky .tooltip_s_arrow {
	border-bottom-color: #00b0f0;
}
.tooltip_s.green .tooltip_s_arrow {
	border-bottom-color: #95c809;
}
.left_3 {
	left:25%;
}
.left_5 {
	left:35%;
}
.left_7 {
	left:75%;
}
.commnt_box {
	border:1px solid #e3e0e0;
	padding:15px;
	margin:20px 0;
}
.commnt_box_ul {
	padding:10px 0;
}
.commnt_box_ul li {
	display:inline-block;
	width:90%;
	vertical-align:top;
	position:relative;
}
.commnt_box_ul li:first-child {
	width:9%;
}
.commnt_box_ul textarea.form-control {
	resize:none;
	border-radius:0;
}
.pos_img {
	position:absolute;
	left:-9px;
	top:10px;
}
.commnt_box_ul {
	margin-top:10px;
}
.commnt_box_ul p {
	line-height:22px;
}
.commnt_box_ul span {
	color:#858587;
	font-size:12px;
	font-family: 'open_sansregular';
	margin-left:10px;
}
.smll_pag_ul {
	margin-top:15px;
}
.smll_pag_ul li:first-child {
	width:auto;
}
.smll_pag_ul li {
	display:inline-block;
	vertical-align:middle;
	width:auto;
	padding-right:10px;
}
.smll_pag_ul li a i {
	color:#cecece;
}
.smll_pag_ul li a:hover i {
	color:#95c809;
}
.blue {
	color:#00115e;
}
.commnt_secs {
	padding:0 210px;
	margin-bottom: 30px;
}
.left_contnt_secs {
	padding-left:210px;
	width:63%;
	float:left;
}
.devide_secs {
	margin-top:30px;
	padding-right:210px;
	float:right;
	width:35%;
	position:relative;
}
.devide_secs h1 {
	font-size:18px;
}
.customSelectInner {
	padding-right: 10px;
	min-width:90px !important;
}
.seperate_line_inbox {
	position:absolute;
	border-right:1px solid #e3e1e1;
	left:25%;
	height:100%;
	width: 1px;
}
.heading_p {
	text-align:center;
}
.search_heading {
	background:url(../images/heading_bg.png) no-repeat top left;
	height:53px;
	line-height:53px;
	vertical-align:middle;
	padding-left:110px;
}
.search_ul li {
	padding-left:110px;
	font-family: 'open_sanssemibold';
	line-height:24px;
}
.search_heading_right {
	background:url(../images/heading_bg.png) no-repeat top left;
	height:53px;
	line-height:53px;
	vertical-align:middle;
	padding-left:60px;
}
.search_ul_right li {
	padding-left:60px;
	font-family: 'open_sanssemibold';
	line-height:24px;
}
.search_input {
	position:relative;
}
.search_input .absolute_i {
	position:absolute;
	top:10px;
	left:10px;
}
.search_input .input_a {
	padding-left:30px;
	border-radius:0;
	border:none;
}
.user_s {
	position:relative;
	width:18%;
	float:left;
	margin-right:2%;
	text-align:center;
}
.user_s img {
	border-radius:100px;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
	height:40px;
	width:40px;
}
.user_s span {
	position:absolute;
	right:0;
	bottom:0;
	border-radius:100px;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
	height:20px;
	width:20px;
	background:#95c809;
	color:#fff;
	text-align:center;
	font-family: 'open_sansextrabold';
	font-size:10px;
}
.vert_mid {
	line-height:16px;
	vertical-align: middle;
	display: inline-block;
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
}
.user_name_r {
	width:79%;
	float:right;
	line-height:40px;
}
.inbox_right {
	padding:0px;
}
.inbox_border {
	border-bottom:1px solid #e5e2e2;
	padding:15px;
}
.round_img {
	width:40px;
	height:40px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
}
.post_img {
	margin:20px 0;
	border:1px solid #e5e2e2;
}
.commnt_post_secs {
	background:#f5f8f9;
	padding:15px;
	border:1px solid #d1d8d5;
	border-right:none;
}
.p_cmnt_s {
	background:#fff;
	padding:0;
	border:1px solid #d1d8d5;
}
.post_elemnt {
	border-top:1px solid #edf0ef;
}
.post_elemnt ul li {
	display:inline-block;
	vertical-align:middle;
	padding:5px 0 5px 15px;
}
.post_elemnt ul li a:hover i {
	color:#95c809;
}
.post_elemnt ul li i {
	color:#c8c6c6;
	font-size:18px;
}
.post_elemnt ul li:last-child {
	padding:0;
}
.trans_textarea {
	border:none;
	resize:none;
	padding:15px;
	width:100%;
}
.transform {
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	transform:rotate(90deg);
}
.reply_link {
	background:#00115e;
	padding:6px 15px;
	color:#fff;
	display: inline-block;
	text-transform:uppercase;
	font-family: 'open_sansbold';
}
.search_s .input-lg {
	font-size:13px;
}
.heading_p h1 {
	padding: 35px 0;
}
.link_bottom {
	border: 1px solid #ddd;
	cursor: pointer;
	padding: 6px 15px;
	background:#011460;
	color:#fff;
}
.copyright a {
	color:#fff;
}
.devide_secs .risk_secs .risk_ul li ul li:first-child {
	width: 25%;
}
.devide_secs .risk_ul li ul li {
	display: inline-block;
	padding: 3px 5px;
	vertical-align: middle;
	width: 73%;
}


.containerinnerpart{padding:0 190px;}
.devide_secs1 {
    margin-top: 30px;
    position: relative;
}

.devide_secs1 h1 {
    font-size: 18px;
}
.innertable table{width:100%;}
.innertable th{padding:4px 20px 4px 7px ; vertical-align:top; }
.innertable td{padding:4px 20px 4px 7px ; color:#000; text-align:left; vertical-align:top;}
.innertable .table > thead > tr > th{border-bottom:none !important;}

.gene-word {
	font-size: 16px;
	color: #011257;
	font-family: 'open_sansregular';
}

.bay-word {
    font-size: 16px;
    color: #95c809;
    font-family: 'open_sansregular';
    padding-left: 2px;
}

.green-border-btm {
    border-bottom: 3px solid #8ec308;
}

.heading_s_left {
    text-align: left;
    padding: 8px 0;
}

.inner_banner_2 {
    padding: 30px 35px 5px 37px;
}
.buttn-green {
    background: #95C809;
    color: #FFF;
}
